.upload-data-container {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  font-family: 'Arial', sans-serif;
}

.upload-data-header {
  display: flex;
  justify-content: flex-end; 
  margin-bottom: 15px;
}

.upload-data-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-data-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
  font-size: 1.8rem;
  font-weight: bold;
}

.form-group-upload {
  margin-bottom: 20px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #34495e;
  font-size: 1rem;
}

input,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.error-message {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

.form-button-upload {
  padding: 12px 25px;
  background: linear-gradient(to right, #28a745, #007bff); /* Gradiente */
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 60%;
  max-width: 300px;
}

.form-button-upload:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 8px 20px rgba(40, 167, 69, 0.4);
}

.form-button-delete-data {
  padding: 10px 25px;
  background: linear-gradient(to right, #e74c3c, #c0582b);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-left: auto;
}

.form-button-delete-data:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 8px 20px rgba(231, 76, 60, 0.4);
}



body.modal-open {
  overflow: hidden;
}


.modal-overlay-upload-data {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out; 
  
}

.modal-content-upload-data {
  background: linear-gradient(to bottom right, #ffffff, #f8f9fa);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 450px;
  max-width: 90%;
  text-align: center;
  align-items: center;
  animation: slideDown 0.3s ease-in-out;
  position: relative;
  display: table-column;
  max-height: max-content;
}

.modal-content-upload-data h3 {
  font-size: 1.6rem;
  color: #2c3e50;
  margin-bottom: 20px;
  font-weight: bold;
}

.modal-content-upload-data-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 15px;
}

.modal-content-upload-data-actions button {
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  flex: 1;
}

.form-button-upload-data{
  width: 100%;
    padding: 15px;
    background: linear-gradient(to right, #28a745, #007bff); /* Gradiente */
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.form-button-upload-data:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(106, 17, 203, 0.4);
}

.form-button-cancel-upload-data {
  background: linear-gradient(to right, #e74c3c, #c0392b);
  
  color: white;
}

.form-button-cancel-upload-data:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(106, 17, 203, 0.4);
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideDown {
  from {
      transform: translateY(-30px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

