.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, rgba(105, 105, 105, 0.8), rgba(255, 193, 37, 0.7), rgba(255, 69, 0, 0.7), rgba(34, 139, 34, 0.7), rgba(0, 0, 0, 0.8));
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  position: relative;
}

.login-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  animation: heartbeatAnimation 3s linear infinite;
  opacity: 0.5;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.login-box {
  max-width: 800px; /* Set the maximum width */
  width: 100%; /* Allow it to shrink on smaller screens */
  margin: 0 auto; /* Center horizontally */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
}


.login-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.login-logo {
  width: 100%;
  max-width: 180px; /* Limit the maximum width */
  height: auto;
  margin-bottom: 20px;
}

.login-title {
  font-family: 'Roboto Slab', serif;
  font-size: 4rem;
  color: #333333;
  margin-bottom: 20px;
  animation: fadeInAnimation 2s ease-in-out;
}

@keyframes fadeInAnimation {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.login-subtitle {
  font-size: 1.8rem;
  color: #ffffff;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.login-description {
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;
}


.login-button-container {
  display: flex;
  justify-content: center;
}

.login-button:active {
  transform: scale(0.95);
}

.login-button {
  background: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  font-size: 1.2rem;
  padding: 15px 30px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.login-button:hover {
  background: rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}




